<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
	<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<title>Nuklei</title>
		<meta charset="utf-8" />
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
		<meta content="" name="keywords" />
		<meta content="Mario Kuroir Ricalde + Armando Canals" name="author" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" /> 
		<link href="css/style.css?v=1" media="all" rel="stylesheet" />
		<script src="js/modernizr-1.6.min.js"></script>
	</head>
	<body>
		<div id="container">
			<header>
				<div class="w">
					<h1 class="logo"><a href="/">Nuklei</a></h1>
					<nav>
						<ul>
							<li><a href="#">About</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Clients</a></li>
							<li><a href="#">Labs</a></li>
							<li><a href="#">Contacts</a></li>
						</ul>
					</nav>
					<div class="impact">
						<h2>
							<span class="s1">Your Project</span>
							<span class="s2">Our Experience</span>
							<span class="s3">Done</span>
						</h2>
						<p>→ We create beautiful and highly-usable web applications by leveraging top-notch interface <br /> design and focused development experts.</p>
						<a href="#" class="work-it">Lets Work Together!</a>
					</div>
					<div class="steps">
						<ul>
							<li><img src="images/steps/plan.jpg" alt="" /><strong>Plan</strong></li>
							<li><img src="images/steps/design.jpg" alt="" /><strong>Design</strong></li>
							<li class="last"><img src="images/steps/build.jpg" alt="" /><strong>Build</strong></li>
						</ul>
					</div>
				</div>
				<div class="bar">bar</div>
			</header>
			<div id="main" class="index">
				<div class="w">
					<div id="inner">
						<div id="col">
							<h1 class="label">WHAT WE DO</h1>	
							<div id="floaty-bar">
								"."
							</div> <!-- end floaty-bar -->

							<div id="col-item">
								<div id="square-image">

								</div>
								<h1 id="item-header">Web Development</h1>
								<p>Developing clean and custom solutions. Whether it's an existing web application or new idea; we have the capabilities of rapidly building products to suit your needs.</p>
							</div>
							<div id="col-item">
								<div id="square-image">

								</div>
								<h1 id="item-header"> UI & UX Design</h1>
								<p>Designing useable interfaces and perfecting the user experience is our passion. We're here from the wire framing to the design and all the way to deployment. </p>
							</div>
							<div id="col-item">
								<div id="square-image">

								</div>
								<h1 id="item-header">Rapid Prototyping</h1>
								<p>Bring an idea; leave with a product. We can take your specs and turn them into a functioning web application in 30 days or less. Let us turn your ideas into reality. </p>
							</div>
							<div id="col-item">
								<div id="square-image">

								</div>
								<h1 id="item-header">Mobile Development</h1>
								<p>Currently developing Android and iOS (iPhoneOS) apps. Use us to build custom solutions on the Android and iOS platforms or to design a user friendly mobile interface. </p>
							</div>
							<div id="col-item">
								<div id="square-image">

								</div>
								<h1 id="item-header">Project Rescue</h1>
								<p>Is your project falling behind deadlines or did you outsource to the wrong team? Let us help! We can turn troubled projects into successful ones.</p>
							</div>
						</div><!-- end col (first) -->
						<div id="col">
							<h1 class="label">HOW WE DO IT</h1>	
							<div id="floaty-bar">
								"."
							</div> <!-- end floaty-bar -->
							<p>Each project that we take on gets all of our love. <b>Seriously</b>. We also adhere to the <b>agile methodologies</b> of software development to ensure a direct and constant flow of <b>communication</b> throughout the entire process. Isn't that the way it should be? We think so.</p> 
							<h1>Process</h1>
							<p>Our process consists of weekly iterations with prepared timelines and scheduled weekly standup calls. If required, we can schedule daily standup calls for shorter, more aggressive development cycles. And we're available to chat whenever you need to. </p> 
							<h1>Teams</h1>
							<p>Each project is assigned a small team consisting of 1 designer and at least 2 developers who pair together to build the application from start to finish. We can also integrate with your existing development team to re-design your layout, get your code up to speed or to build out a new codebase entirely.</p> 
							<h1>Results</h1>
							<p>In any case, we'd love to help you! Consult with us to help you make the right decisions early on. We're experts on scaling, developing and deploying rich content driven, high-traffic, web applications. At Nuklei, we ensure the quality and the timeliness of each project we take on, and for good reason. We couldn't do it with out you! Providing quality code along with awesome customer service is the life-blood of our company; it's what keeps us in business.</p>
						</div> <!-- end col (second) -->
						<div id="col-wide">
							<h1>WHO WE ARE</h1>		
							<div id="floaty-bar">
								"."	
							</div> <!-- end floaty-bar -->
							<div id="col">
								<p>We're a team of developers that love what we do. We also love a lot of other things, such as; biking, cooking, anime, rage comics, photography and other sorts of lively things that make us uniquely us. To the right are some of our core team members who are here to help you through every step.    </p>
							</div> <!-- end col -->
							<div id="col-images">
								<div id="square-image-large">
									<img src="images/armand_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/julio_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/kuroir_icon.jpg" alt="" />
								</div>
							</div>
						</div> <!-- end col-wide -->
						<div style="clear:both">
						</div>
						<div id="col-wide">
							<h1>WHAT WE'VE DONE</h1>		
							<div id="floaty-bar" class="last">
								"."	
							</div> <!-- end floaty-bar -->
							<div id="col-images-bottom">
								<div id="square-image-large">
									<img src="images/wet_republic.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/destructoid_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/peewee_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/jtor_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/elite_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/zoning_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/brightstar_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/flixist_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/nucms_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/golf_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/watercoolr_icon.jpg" alt="" />
								</div>
								<div id="square-image-large">
									<img src="images/uploadd_icon.jpg" alt="" />
								</div>

							</div><!-- col-images -->
						</div> <!-- end col-wide -->
					</div><!-- end container-->
				</div> <!-- end w -->
				<div id="footer-spacing"></div>
			</div>
			<footer>
				<div class="w">
					<div id="inner">
						<div id="map">
							<img src="http://maps.google.com/maps/api/staticmap?center=37.7225139,-122.452827&zoom=14&size=300x250&markers=color:red%7Ccolor:red%7Clabel:A%7C37.7225139,-122.452827&sensor=false">
						</div>
					</div>
					<div id="info-wrapper">
						<h1 class="logo"><a href="#">Nuklei.com</a></h1>
						<ul id="address">
							<li>226 Harold Ave</li>
						    <li>San Francisco, CA 94112</li>
							<li><a href="mailto:info@nuklei.com">info@nuklei.com</a></li>
							<li>Office 415.409.8053</li>
							<li>Twitter: <a href="http://twitter.com/#!/nuklei" target="_new">@nuklei</a></li>
							<li>Follow our code on <a href="http://github.com/nuklei" target="_new">Github</a></li>
						</ul>
					</div>
					
				</div>
			</footer>

			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
			<script type="text/javascript">
			//<![CDATA[
			!window.jQuery && document.write(unescape("%3Cscript src="js/jquery-1.4.4.min.js"%3E%3C/script%3E"))
			//]]>
			</script>
			<script src="js/plugins.js?v=1"></script>
			<script type="text/javascript">
			//<![CDATA[
			var _gaq = [["_setAccount", "UA-XXXXX-X"], ["_trackPageview"]];
			(function(d, t) {
				var g = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
				g.async = true;
				g.src = ("https:" == location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
				s.parentNode.insertBefore(g, s);
				})(document, "script");
				//]]>
				</script>
			</body>
			</html>